version: '3'
services:
  web:
    image: cc-frontend:1.0.0
    ports:
      - "80:80"
    volumes:
      - /etc:/hypervisor_etc
    environment:
      - CC_BACKEND_SERVERS=$CC_BACKEND_SERVERS
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.hostname == cc-docker-fake-frontend
